/* Adicionar aqui toda a estilização criada para sua aplicação. */
body {
    margin: 0;
    font-family: sans-serif;
}

:root {
    --azul: #32b9cd;
    --amarelo: #e3b062;

}

/* HEADER */
.header {
    background-color: black;
    border-bottom: 3px solid var(--azul);
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 120px;
}

.titulo {
    color: #32b9cd;
}

.navbar {
    display: flex;
    justify-content: space-between;
    color: var(--amarelo);
    list-style: none;
    width: 300px;
}

.navbar a {
    color: var(--amarelo);
    text-decoration: none;

}

.agora {
    font-weight: bold;
}



/* BANNER */

.banner {
    height: 400px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");

    background-size: cover;

}

.banner .container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner .container p {
    width: 170px;
    margin: 0;
    color: white;
    font-size: 24px;
}

.banner .container span {
    font-weight: bolder;
}

/* MISSÃO VISÃO VALORES */

.social {
    height: 400px;
    width: 100%;
    background-color: #dcdcdc;
}

.social .container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.box img {
    width: 120px;
    height: 120px;
}

.box h4 {
    margin: 0;
    margin-top: 10px;
    color: #e4004a;
}

/* FOOTER */

.footer {
    padding: 20px 0;
    background-color: var(--azul);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
  }


.footer .container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.footer h4 {
    margin: 0;

}

/* Login */

.login {
    height: 560px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-login {
    background-color: #eeeeee;
    width: 560px;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(50, 185, 205, 0.3);
    text-align: center;

}

.card-login h2 {
    margin-bottom: 20px;
    color: #f17ea1;
    font-size: 26px;
}

.formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: start;
}

.campo span {
    margin-bottom: 5px;
    color: #f17ea1;
    font-weight: bold;
    font-size: 14px;
}

.campo input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 14px;
}

.botao {
    margin-top: 20px;
    background-color: #f71f5f;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    /* Faz parecer um click */
    cursor: pointer;
}

.botao:hover {
    background-color: #fb306d;
}

/* Cadastro */

.cadastro {
    height: 750px;
    width: 100%;
    background-image: url("../assets/imgs/bg-jelly-fish-para-home.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;


}

.card-cadastro {
    background-color: #eeeeee;
    width: 560px;
    padding: 40px 30px;
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(50, 185, 205, 0.3);
    text-align: center;
}

.card-cadastro h2 {
    margin-bottom: 20px;
    color: #f17ea1;
    font-size: 26px;
}

.card-cadastro .formulario {
    display: flex;
    flex-direction: column;
    align-items: stretch;
  }

.card-cadastro .formulario .campo {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    text-align: start;
}

.card-cadastro .campo span {
    margin-bottom: 5px;
    color: #f17ea1;
    font-weight: bold;
    font-size: 14px;
}

.card-cadastro .campo input {
    padding: 10px;
    border: 2px solid #32b9cd;
    border-radius: 6px;
    font-size: 14px;
}

.card-cadastro .botao {
    margin-top: 10px;
    background-color: #f71f5f;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

.card-cadastro .botao:hover {
    background-color: #fb306d;
}